$white: #ffffff;
$silver: #C0C0C0;
$textColor: #000033;
$black: #000000;
$mimosa: #efc050;
$orange: #f65e36;
$tangerine: #dd4124;
$error: #ff0f17;
$chili: #9b2335;

$chillblue: #cce6ff;
$reg_blue: #3399ff;
$frenchBlue: #0072B5;
$turquoise: #00A170;
$neongreen: #39ff14;