@use './colors' as *;

.wheel__front {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 220px;


    &--left {}

    &--right {}
}

.wheel__back {
    display: flex;
    justify-content: space-between;


    &--left {}

    &--right {}
}

[class*='wheel__front--'],
[class*='wheel__back--'] {
    width: 60px;
    height: 180px;
    background: url('../img/profile.jpg'), linear-gradient($reg_blue, $black);
    border: 2px solid $neongreen;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// [class*='wheel__front--'] {
//     transform: rotateZ(5deg);
// }